body{
  background-color: darkblue
}

a {
  background-color: rebeccapurple;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px;
  color: white;
}

.title{
  text-align: center;
  font-family: Arial;
  text-color: white
}

button{
  corner-radius: 15px;
  text-color: white;
  background-color: orange;
  border-color: blue
}

.description{
  text-align: center;
  text-color: white;
  font-family: Arial
}
